<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset ="utf-8">
    <link rel= "stylesheet" href="/styles/style.css">
    <title> Colbys Page </title>
<style>
body{
  text-align: center;
}
iframe{width: 1000px;
  height: 500px;
  margin: auto;
}
</style>
</head>
<body>
  <h1> Tupac Shakur </h1>
  <iframe src='http://players.brightcove.net/4495439099001/rkC8QsjOx_default/index.html?playlistId=5336168458001&autoplay=true' allowfullscreen frameborder=0></iframe>
  <p>
    </br>
    Hip-hop legend Tupac Shakur was embroiled in a feud between East Coast and West Coast rappers and was murdered in a drive-by shooting in 1996, leaving behind an influential musical legacy at the age of 25.
</br></br>
    Early Life
</br></br>
    Shakur has become a legend in hip-hop and rap circles for his talent, his violent behavior, and his brutal death. The son of Black Panther activists, Shakur was raised by his mother Afeni Shakur. She was actually in jail on bombing charges during her pregnancy with Tupac. She was later acquitted in the case. He had no contact with his biological father, Billy Garland, until he was an adult.
</br></br>
    According to The Rolling Stone Encyclopedia of Rock & Roll, Shakur was originally named Lesane Parish Crooks, but his moniker was soon changed to Tupac Amaru Shakur. "Tupac Amaru" means "shining serpent." He had a difficult childhood, moving frequently around in the New York City boroughs of Brooklyn and the Bronx. Shakur received an education in radical politics from his mother, but he also saw some of life's hardships through her struggles with substance abuse. In his youth, he explored acting by becoming a member of the 127th Street Ensemble, a Harlem-based theater company.
</br></br>
    As a teenager, Shakur attended the Baltimore School for the Arts, where he took acting and dance classes, including ballet. While living in Baltimore, he discovered rap and began performing as MC New York. In the late 1980s, Shakur and his family moved to the West Coast. He joined the Oakland, California-based hip-hop group Digital Underground, which earlier had scored a hit with the song "The Humpty Dance." Shakur appeared on two of the group's recordings—1990's This Is an EP and Sons of the P before going solo.
</p>

</body>
</html>
