
<!doctype html>
<html>
  <head>
    <meta charset ="utf-8">
    <link rel= "stylesheet" href="/styles/style.css">
    <title> Music Page </title>
    <style>
body {
  text-align: center;
}
    </style>
  </head>
  <body>
<h1> Top Hits </h1>
<iframe width="860" height="615" src="https://www.youtube.com/embed/YqJAnQTwmJs?list=PL66D0406F94E9C368" frameborder="0" allowfullscreen></iframe>
<iframe width="860" height="615" src="https://www.youtube.com/embed/W6S7dAsIzIU?list=PL66D0406F94E9C368" frameborder="0" allowfullscreen></iframe>
<iframe width="860" height="615" src="https://www.youtube.com/embed/Mb1ZvUDvLDY?list=PL66D0406F94E9C368" frameborder="0" allowfullscreen></iframe>
<iframe width="860" height="615" src="https://www.youtube.com/embed/W69SSLfRJho?list=PL66D0406F94E9C368" frameborder="0" allowfullscreen></iframe>
<iframe width="860" height="615" src="https://www.youtube.com/embed/eXvBjCO19QY?list=PL66D0406F94E9C368" frameborder="0" allowfullscreen></iframe>


  </body>
</html>
