<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset ="utf-8">
    <link rel= "stylesheet" href="/styles/style.css">
    <title> Colbys Page </title>

<style>
body{
  text-align: center;
}
</style>
</head>
  <body>

     <img src= "/images/tupac.gif">
     <img src= "/images/tupac.gif">
     <img src= "/images/tupac.gif">
     <img src= "/images/tupac.gif">
     <img src= "/images/tupac2.gif">
     <img src= "/images/tupac2.gif">
     <img src= "/images/tupac2.gif">
     <img src= "/images/tupac2.gif">
     <img src= "/images/tupac6.gif">
     <img src= "/images/tupac6.gif">
     <img src= "/images/tupac6.gif">
     <!-- <img src= "/images/tupac6.gif"> -->
    <img src= "/images/tupac3.gif">
    <img src= "/images/tupac3.gif">
    <img src= "/images/tupac3.gif">
    <!-- <img src= "/images/tupac3.gif"> -->
    <img src= "/images/tupac4.gif">
    <img src= "/images/tupac4.gif">
      <!-- <img src= "/images/tupac4.gif"> -->
     <img src= "/images/tupac5.gif">
     <!-- <img src= "/images/tupac6.gif"> -->
     <img src= "/images/tupac7.gif">
     <img src= "/images/tupac7.gif">
   </br>
     <img src= "/images/tupac8.gif">
   </br>
     <!-- <img src= "/images/tupac.gif"> -->
     <!-- <img src= "/images/tupac6.gif"> -->
     <img src= "/images/tupac.gif">
     <img src= "/images/tupac.gif">
     <img src= "/images/tupac.gif">
     <img src= "/images/tupac.gif">

   </body>
</html>
